table th{
    /*Keep column headers at the top as table is scrolled*/
    position: sticky;
    top: 0px; /* https://www.w3schools.com/cssref/pr_pos_top.php*/
    overflow-y: auto;

}

/*--------- Class CSS --------- */

.procedure-header{
    color: rgb(82,81,81);
}

.procedure{
    background-color: #dbe3e7;
}

.pad-right{
    padding-right: 20px;
}

.about-author{
    color: rgb(82,81,81);
}

.author{
    background-color: #dbe3e7;
}

.footer{
    background-color:#2DC2CF;
}

.icon-white{
    color: #FFF;
}

.overview{
    background-color: #dbe3e7;
}

.showcase{
    background-color: #9ba4a7;
}

.nb-bg-color{
    background-color: #2DC2CF;
}

.dataForm{
    display: flex;
    justify-content: left;
    align-items: center;
}

.days{
    text-align: center;
    vertical-align: middle;
}

.headerBG{
    background-color: #e6e6e6;
}

.footerBG{
    background-color: #e6e6e6;
}

.ordered-List-item-font{
    font-size:22px;
}
.overview-font{
    font-size:25px;
}

.signUpForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.temps-table{
    max-height: 250px;  /*prevent table from stretching to bottom of screen*/
    overflow: auto;
}

.temps{
    text-align: center;
    vertical-align: middle;
}

.nbMenuItem{
    font-size:25px;
    padding-right: 20px;
    padding-left: 20px;
}

.notes{
    font-size:20px;
}

/*--------- ID CSS --------- */

a#nbMenuItem {
    font-size: 25px;
    padding-right: 20px;
    padding-left: 20px;
}

div#about{
    width: 400px;
    margin: auto;
}

h1#ovPadLeft{
    padding-left: 20px;
}

p#ovPadLeft{
    padding-left: 20px;
}

img#ovPadLeft{
    padding-left: 20px;
}

/* ------- Media Queries --------- */
@media only screen and (max-width: 992px) {
    .adjust-height {
        max-height: 400px;
    }

    .adjust-width {
        max-width: 400px;
    }

}

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}

